
@{
    ViewBag.Title = "Cadastro";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/cadastro.css" rel="stylesheet">
<script src="~/Scripts/cadastro.js"></script>

<article id="corpo" class="container row">
    <div class="col col-2" id="imgLogin">
        <img src="~/img/LoginImg.png">
    </div>
    <div class="col col-2">
        <form id="frmCadastro" method="post" action="/Usuario/Adiciona" enctype="multipart/form-data">
            <h1 id="tituloLogin">CADASTRO</h1>
            <button class="btn google" type="button" name="btnLoginGoogle" id="btnLoginGoogle" value="Entrar">
                <i class="fab fa-google"></i>
                <span>Cadastrar com o Google</span>
            </button>
            <div class="campoTexto">
                <input type="text" defaultValue="Email" name="user.Email" id="txtCadastroEmail" class="Input-text" placeholder="Email" data-request-url="@Url.Action("EmailDisponivel", "Usuario")" required>
                <label for="input"  class="Input-label" id="lbCadastroEmail">Email</label>

            </div>
            <div class="campoTexto">
                <input type="text" defaultValue="Nome de Usuário" name="user.NomeUsuario" id="txtCadastroNome" class="Input-text" placeholder="Nome de usuário" data-request-url="@Url.Action("NomeDisponivel", "Usuario")" required>
                <label for="input" class="Input-label" id="lbCadastroNome">Nome de usuário</label>
            </div>
            <div class="campoTexto">
                <input type="password" defaultValue="Senha" name="user.Senha" id="txtCadastroSenha" class="Input-text" placeholder="Senha" data-request-url="@Url.Action("SenhaDisponivel", "Usuario")" required>
                <label for="input" class="Input-label" id="lbCadastroSenha">Senha</label>
            </div>
            <div id="fileInput">
                <input type="file" id="file" name="upload" />
                <label for="file" class="btn-1">Imagem de perfil</label>
            </div>
            <input class="btn" type="submit" name="btnSubmitCadastro" id="btnSubmitCadastro" value="Cadastrar">

        </form>
    </div>
</article>
