
@{
    ViewBag.Title = "Pesquisa";
}
<script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
<script src="~/Scripts/Pareto.js"></script>
<link href="~/Content/pareto.css" type="text/css" rel="stylesheet">

<div class="container linhaTema">
    @for (int i = 1; i < ViewBag.Tabela.Count; i++)
    {
        if (ViewBag.Tabela[i].Id % 2 != 0)
        {
            <section class='a row'>
                <div class="col col-2 divImagem">
                    <img src="~/@ViewBag.ListaImagens[i].Link">
                </div>
                <div class="col col-2 texto">
                    <h1 class="tituloTema">@ViewBag.Tabela[i].Titulo</h1>
                    @{
                        string source = ViewBag.Tabela[i].Texto;
                        string[] stringSeparators = new string[] { "<p>", "</p>" };
                        string[] result = source.Split(stringSeparators, StringSplitOptions.RemoveEmptyEntries);
                        foreach (string paragrafo in result)
                        {
                            <p>
                                @paragrafo
                            </p>
                        }
                    }
                </div>
            </section>
        }
        else
        {
            <section class='b row'>
                <div class="col col-2 texto">
                    <h1 class="tituloTema">@ViewBag.Tabela[i].Titulo</h1>
                    @{
                        string source = ViewBag.Tabela[i].Texto;
                        string[] stringSeparators = new string[] { "<p>", "</p>" };
                        string[] result = source.Split(stringSeparators, StringSplitOptions.RemoveEmptyEntries);
                        foreach (string paragrafo in result)
                        {
                            <p>
                                @paragrafo
                            </p>
                        }
                    }
                </div>
                <div class="col col-2 divImagem">
                    <img src="~/@ViewBag.ListaImagens[i].Link">
                </div>
            </section>
        }
    }
</div>
<div class="row">
    <div class="col"><h1 class="titulo">GRÁFICO DE PARETO</h1>
        <canvas id="pareto"></canvas>
    </div>
</div>

