
@{
    ViewBag.Title = "Bastidores";
    Layout = "~/Views/Shared/_Layout.cshtml";
    if (Session["emailUsuario"] == null)
    {
        ViewBag.EhCadastro = false;
    }
    else
    {
        ViewBag.EhCadastro = true;
    }
}
<link type="text/css" rel="stylesheet" href="~/Content/sobreNos.css">
<div class="container textoSobreNos">
    <div class="row">
        <div class="col" id="bordao">
            <h3><span class="azul">Estudar</span><span class="vermelho">Compartilhar</span><span class="verde">Promover</span><span class="amarelo">Pesquisar</span></h3>
        </div>
    </div>
    <div class="row">
        @foreach (var i in ViewBag.Bastidores)
         {
            <div class="col col-3">

                <img src="~/@i.Img">
                <p>@i.Texto</p>
            </div>
         }
    </div>

</div>

