
@{
    ViewBag.Title = "HOME";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link href="~/Content/home.css" type="text/css" rel="stylesheet" />
<section id='home-hero' class="container">
    <h1>
        Vamos falar de sexo?
        <hr>
    </h1>
</section>
<div id='intros' class="container">
    @foreach (var tema in ViewBag.Temas)
    {
        if (tema.Titulo == "Camisinhas")
        {
            if (tema.Id % 2 != 0)
            {
                <section class='a row'>
                    <div class="col col-2">
                        <a href="~/Home/@tema.Titulo">
                            <img src="~/@tema.ImgTema">
                        </a>
                    </div>
                    <div class="col col-2 texto">
                        <h1 class="tituloTema">@tema.NomTema</h1>
                        @{
                            string source = tema.Descricao;
                            string[] stringSeparators = new string[] { "<p>", "</p>" };
                            string[] result = source.Split(stringSeparators, StringSplitOptions.RemoveEmptyEntries);
                            foreach (string paragrafo in result)
                            {
                                <p>
                                    @paragrafo
                                </p>
                            }

                        }
                    </div>
                </section>
            }
            else
            {

            }
        }
        else
        {
            if (tema.Id % 2 != 0)
            {
                <section class='a row'>
                    <div class="col col-2">
                        <a href="~/EducacaoSexual/@tema.Titulo">
                            <img src="~/@tema.ImgTema">
                        </a>
                    </div>
                    <div class="col col-2 texto">
                        <h1 class="tituloTema">@tema.NomTema</h1>
                        @{
                            string source = tema.Descricao;
                            string[] stringSeparators = new string[] { "<p>", "</p>" };
                            string[] result = source.Split(stringSeparators, StringSplitOptions.RemoveEmptyEntries);
                            foreach (string paragrafo in result)
                            {
                                <p>
                                    @paragrafo
                                </p>
                            }

                        }
                    </div>
                </section>
            }
            else
            {
                <section class='b row'>
                    <div class="col col-2 texto">
                        <h1 class="tituloTema">@tema.NomTema</h1>
                        @{
                            string source = tema.Descricao;
                            string[] stringSeparators = new string[] { "<p>", "</p>" };
                            string[] result = source.Split(stringSeparators, StringSplitOptions.RemoveEmptyEntries);
                            foreach (string paragrafo in result)
                            {
                                <p>
                                    @paragrafo
                                </p>
                            }
                        }
                    </div>
                    <div class="col col-2">
                        <a href="~/EducacaoSexual/@tema.Titulo">
                            <img src="~/@tema.ImgTema">
                        </a>
                    </div>
                </section>
            }
        }
    }
</div>
