
@{
    ViewBag.Title = "Mapa";
    ViewBag.EhCadastro = false;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="~/Scripts/mapa.js"></script>
<div class="campoEndereco">
    <input type="text" id="txtCep" class="Input-text" placeholder="CEP">
    <label for="input" class="Input-label">CEP</label>
</div>

<div class="campoBotao">
    <button class="btn" onclick="Rota()">Pesquisar Casa</button>
</div>


<div id="opcoes">
    <b>Como Deseja Ir: </b>
    <select id="mode">
        <option value="DRIVING">Carro</option>
        <option value="WALKING">A pé</option>
        <option value="BICYCLING">Bicicleta</option>
        <option value="TRANSIT">Ônibus</option>
    </select>
</div>

<div id="rota"><p>Distânica Total: <span id="total"></span></p></div>
<div id="map"></div>

<link href="~/Content/mapa.css" type="text/css" rel="stylesheet">
<script async defer src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBBh6JK23HFsrPff9iyGpdfzztePcfRhq4&callback=iniciarMapa"></script>
<a href = "https://maps.googleapis.com/maps/api/place/textsearch/xml?query==posto+de+saude+near+Jardim Campos Elíseos+Campinas&rankyby=distance&radius=10000&key=AIzaSyBBh6JK23HFsrPff9iyGpdfzztePcfRhq4"> Clica aqui</a>