
@{
    ViewBag.Title = "SobreNos";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/Content/sobreNos.css">
<div class="container" id="textoSobreNos">
    <div class="row">
        <div class="azul col col-4">
            <h3>Estudar</h3>
        </div>
        <div class="vermelho  col col-4">
            <h3>Desconstruir</h3>
        </div>
        <div class="roxo  col col-4">
            <h3>Evoluir</h3>
        </div>
        <div class="amarelo  col col-4">
            <h3>Pesquisar</h3>
        </div>
        <div class="col" id="areaTexto">
            <p>
                A Discussex tem como objetivo ajudar você, isso mesmo, você que está lendo nosso site. Nossa proposta, é compartilhar nosso conhecimento sobre
                a educação sexual pelo mundo. Aprender todos os cuidados do universo da sexualidade é essencial para uma vida melhor e mais feliz. Assim, sei que você
                aproveitou do nosso site e a partir de agora sabe o que é certo e errado e pode compartilhar o conhecimento para que a socieade acabe com o tabu sexual.
                Gostaria de agradecer por ter chegado até aqui e muito sucesso!<br /><br /> Até mais, Discussex
            </p>
        </div>
    </div>
</div>

