.imagemBackend
{
    width: 26em;
    height: 20em;
    border-radius: 1em;
    border: solid white 1em;
}


.a {
    background: #81d4fa;
}

.b {
    background: #f4511e;
}

.c {
    background: #d81b60;
}

.d {
    background: #388e3c;
}

.e {
    background: #d32f2f;
}

.f {
    background: #a55eea;
}

.umaImagem
{
    margin: .5em;
    padding: 1em;
    border-radius: 1em;
    height: 40em;
}

p {
    color: white;
    font-family: "Yanone Kaffeesatz";
    font-size: 1.5em;
    padding-top: 1em;
}


.imagemFinal {
    height: 35em !important;
    width: auto;
}