html {
    overflow-x: hidden;
}

.imgPerfil
{
    max-width: 80%;
}

ul
{
    list-style: none;
}
.nice-select
{
    margin-left: 3em;
    width: 10em !important;
}
#submitBusca
{
    margin-top: -.2em !important;
    margin-left: 0 !important;
}
@media screen and (min-width: 40em)
{
    .imgPerfil {
        max-width: 50%;
    }
}

@media screen and (min-width: 60em) {
    .imgPerfil {
        max-width: 80%;
    }

}


#nomeUsuarioForum
{
    color: white;
    margin-top: 1em;
    font-size: 2em;
}

.titulo
{
    font-size: 2em;
    color: white;
    margin-bottom: 1em;
    text-transform: uppercase;
}


#listaAcessados{
    width: 400px;
    margin: 0 auto;
}

#listaAcessados ol {
    counter-reset: li;
    list-style: none;
    *list-style: decimal;
    font-size: 1em;
    font-family: 'Yanone Kaffeesatz';
    padding: 0;
    margin-bottom: 4em;
}

    #listaAcessados a {
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: 1.3em 0;
        background: #9c27b0;
        color: white;
        text-decoration: none;
        border-radius: 10em;
        transition: all .2s ease-in-out;
    }

        #listaAcessados a:hover {
            background: white;
            text-decoration: none;
            color: #9c27b0;
            transform: scale(1.1);
        }

        #listaAcessados a:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: #9c27b0;
            height: 2em;
            width: 2em;
            line-height: 2em;
            border: .3em solid #fff;
            text-align: center;
            font-weight: bold;
            border-radius: 2em;
            color: #FFF;
        }

#listaBusca {
    width: 400px;
    margin: 0 auto;
}

    #listaBusca ol {
        counter-reset: li;
        list-style: none;
        *list-style: decimal;
        font-size: 1em;
        font-family: 'Raleway', sans-serif;
        padding: 0;
        margin-bottom: 4em;
    }


    #listaBusca a {
        position: relative;
        display: block;
        padding: .4em .4em .4em 2em;
        *padding: .4em;
        margin: 1.3em 0;
        background: #b388ff;
        color: white;
        text-decoration: none;
        transition: all .2s ease-in-out;
        border-radius: 5pt;
    }

        #listaBusca a:hover {
            background: white;
            color: #b388ff;
            text-decoration: none;
            transform: scale(1.1);
        }

        #listaBusca a:before {
            content: counter(li);
            counter-increment: li;
            position: absolute;
            left: -1.3em;
            top: 50%;
            margin-top: -1.3em;
            background: #b388ff;
            height: 2em;
            width: 2em;
            line-height: 2em;
            border: .3em solid #fff;
            text-align: center;
            font-weight: bold;
            color: #FFF;
            border-radius: 10pt;
        }