html {
    overflow-x: hidden;
}

.imgPerfil
{
    max-width: 80%;
}

ul
{
    list-style: none;
}

@media screen and (min-width: 40em)
{
    .imgPerfil {
        max-width: 50%;
    }
}

@media screen and (min-width: 60em) {
    .imgPerfil {
        max-width: 80%;
    }
}