.imagemUsuario {
    max-width: 30%;
    height: auto;
    margin-bottom: 1em;
}


@media screen and (min-width: 60em) {
    .imagemUsuario {
        max-width: 30%;
    }

}

#pergunta {
    background: #0d47a1;
}

.a {

    background: #2196f3;
}

.b{
    background: #64b5f6;
}


h1
{
    margin-bottom:1em;
}

#botoesPaginas .btn
{
    display:inline !important;
}

.resposta p
{
    margin: 0 1em 1em 1em;
}

html
{
    overflow-x:hidden;
}