
#map {
    height: 60%;
    width: 90%;
    margin-left: 5%;
    border-radius: 10pt;
    border: solid .5em white;
}
.btn {
    width: calc(95% - 2em);
}

.nice-select {
    float: initial !important;
    width: 10em !important;
    margin-left: calc(50% - 5em);
    margin-bottom: 1.3em !important;
}



#buscarCaminho {
    height: 100%;
}

#pesquisarCasa #pesquisarPosto {
    margin-top: unset !important;
}

#txtCep {
    margin-top: unset !important;
}



html, body {
    height: 100%;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}
#distancia {
    width: 90%;
    margin-left: 5%;
    background: white;
    font-family: "Yanone Kaffeesatz" !important;
    font-size: 1.3em;
    border-radius: 5pt;
}


.adp-text {
    color: white;
    text-align: center;
}

.adp-placemark {
    background: #e1bee7;
    border: .1em white solid;
}

.adp-placemark td:hover {
    background: #e1bee7 !important;
}

.adp-legal {
    color: black;
    text-align: center;
    /* margin: .5em; */
    padding: .5em;
}

.adp table {
    width: 100%;
    border-radius: 5pt;
    font-family: "Yanone Kaffeesatz" !important;
}

    .adp table tr {
        color: black;
    }

        .adp table tr:hover {
            background: #e0e0e0;
        }

        .adp-summary 
        {
            text-align: center;
        }