#pareto
{
    display: initial !important;
    position: relative;
    width: 70vw !important;
    height: 80vh !important;
    margin: 0 !important;
}

.titulo
{
    color: white;
    font-size: 2.4em;
}