@import url('https://fonts.googleapis.com/css?family=Nunito:300');

html {
    overflow-x: hidden;
}

#textoSobreNos {
    padding: 1em 10em;
}

    #textoSobreNos div {
        background: white;
        border-radius: 10pt;
    }

        #textoSobreNos div h3 {
            padding: 1em;
            font-size: 2em;
            text-transform: uppercase;
        }

        #textoSobreNos div.azul h3 {
            color: white;
            background: #2bcbba;
            border-radius: 10pt;
        }

        #textoSobreNos div.amarelo h3 {
            color: white;
            background: #f7b731;
            border-radius: 10pt;
        }

        #textoSobreNos div.roxo h3 {
            color: white;
            background: #a55eea;
            border-radius: 10pt;
        }

        #textoSobreNos div.vermelho h3 {
            color: white;
            background: #ef5350;
            border-radius: 10pt;
        }


        #textoSobreNos div div.amarelo:hover h3 {
            color: #f7b731;
            background: white;
        }

        #textoSobreNos div div.roxo:hover h3 {
            color: #a55eea;
            background: white;
        }

        #textoSobreNos div div.vermelho:hover h3 {
            color: #fc5c65;
            background: white;
        }

        #textoSobreNos div div.azul:hover h3 {
            color: #2bcbba;
            background: white;
        }


.azul {
    color: #2bcbba;
}

.vermelho {
    color: #fc5c65;
}

.roxo {
    color: #a55eea;
}

.amarelo {
    color: #f7b731;
}


#areaTexto p {
    text-align: justify;
    font-size: 1.5em;
    padding: 2em 1em 2em 1em;
}
