#gravidez {
    background: #29b6f6;
}

#prevencao {
    background: #f4511e;
}
#corpo {
    background: #d81b60;
}

#infeccoes {
    background: #388e3c;
}

#hiv {
    background: #d32f2f;
}

.intros {
    background-size: cover;
    height: 20em;
    text-align: center;
    text-transform: uppercase;
    display: table;
}

.intros h1 {
    font-size: 2.5em;
    display: table-cell;
    vertical-align: middle;
}

.intros hr {
    border-radius: 10pt;
    height: 5px;
    border: none;
    margin: 0 5em 0 5em;
}

.intros img {
    height: 15em;
    width: 100vw;
}

@media screen and (min-width: 45em) {
    .intros {
        height: 20em;
    }

        .intros h1 {
            font-size: 3.5em;
        }
}

@media screen and (min-width: 71.25em) {
    .intros {
        background-size: 100% 24em !important;
        height: 25em;
    }

        .intros h1 {
            font-size: 5em;
        }
}

.texto p {
    text-align: right;
    text-align: left;
}


.textosTema section {
    padding: 1em;
    margin: 0;
}

.textosTema img {
    max-width: 30%;
    height: auto;
}

#gravidez-intro {
    border-bottom: 1em solid #039be5;
    background: url("../img/imgGravidez.png") no-repeat;
}

 #gravidez-intro h1 {
   color: #29b6f6;
}

#gravidez-intro hr {
    background-color: #29b6f6;
}

#gravidez-div .a {
    background: #29b6f6;
}

#gravidez-div .b {
    background: #81d4fa;
}



#prevencao-intro {
    border-bottom: 1em solid #e64a19;
    background: url("../img/imgPrev.png") no-repeat;
}

#prevencao-intro h1 {
    color: #d84315;
}

#prevencao-intro hr {
    background-color: #d84315;
}
#prevencao-div .a {
    background: #f4511e;
}

#prevencao-div .b {
    background: #ff7043;
}

#corpo-intro {
    border-bottom: 1em solid #c2185b;
    background: url("../img/imgCorpo.png") no-repeat;
}

#corpo-intro h1 {
    color: #880e4f;
}

#corpo-intro hr {
    background-color: #880e4f;
}

#corpo-div .a {
    background: #d81b60;
}

#corpo-div .b {
    background: #ec407a;
}

#hiv-intro {
    border-bottom: 1em solid #e53935;
    background: url("../img/imgHIV.png") no-repeat;
}

#hiv-intro h1 {
    color: #c62828;       
}

#hiv-intro hr {
    background-color: #c62828;
}

#hiv-div .a {
    background: #d32f2f;
}

#hiv-div .b {
    background: #ef9a9a;
}


#infeccoes-intro {
    border-bottom: 1em solid #2e7d32;
    background: url("../img/imgIST.png") no-repeat;
}

#infeccoes-intro h1 {
    color: #388e3c;  
}

#infeccoes-intro hr {
    background-color: #388e3c;
}

#infeccoes-div .a {
    background: #388e3c;
}

#infeccoes-div .b {
    background: #66bb6a;
}