@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

#home-hero
{
    border-bottom: 1em solid rgb(240, 172, 25)
    ;
}
#intros section
{
    padding: 1em;
    margin: 0;
}
.a
{
    background: #a55eea;
}

.b
{
    background: #8854d0;
}
#intros img
{
    max-width: 30%;
    height: auto;
}