@import url('https://fonts.googleapis.com/css?family=Yanone+Kaffeesatz');

#home-hero
{
    border-bottom: 1em solid rgb(142,105,0 );
}
#intros section
{
    /* margin-bottom: 1em; */
    padding: 1em;
}
p{
    display: block;
}
.a
{
    background: #a55eea;
}

.b
{
    background: #8854d0;
}
#intros img
{
    max-width: 30%;
    height: auto;
}