@import url('https://fonts.googleapis.com/css?family="Yanone+Kaffeesatz"');

#frmLogin h1
{
    margin: 1em;
    color: white;
    border-bottom: .1em solid white;
    border-top: .1em solid white;
    padding-top: .5em;
    padding-bottom: .5em;
}

#frmLogin button i
{
    border-right: 1px white solid;
    padding-right: .5em;
}
#frmLogin button span
{
    padding-left: .5em;
}

.camposTexto
{
    border-radius: 10pt;
    border: 0;
    outline: none;
    display: block;
    margin: 2em auto;
    padding: .7em 1.2em .7em 1.2em;
    font-family: "Yanone Kaffeesatz";
    font-size: 1em;
}

.btn
{
    padding: .5em 1em;
    outline: none;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Yanone Kaffeesatz";
    font-size: 1.7rem;
    letter-spacing: 1px;
    border-radius: 5pt;
    border: 0;
    margin: 1em;
}

.google
{
    background: #EA2027;
    color: white;
    border-bottom: solid rgb(211, 44, 44) .2em;
}
.google:hover
{
    background: white;
    color:#EA2027;
}

.google:active
{
    transform: translateY(.2em);
    transition-duration: .3s;
    border-bottom: none;
}
/*.btn:hover
{
    background: rgb(137,59,195);
    border-bottom: solid rgb(152, 82, 206) .2em;
    color: white;
    cursor: pointer;
}

.btn:active
{
    
}
*/

.Input-text {
    padding: .7em 1.2em;
    color: inherit;
    font-family: "Yanone Kaffeesatz";
    font-size: 1em;
    border: none;
    border-radius: 0.4rem;
    transition: box-shadow .3s;
    margin: 1em 1em 1.3em 1em;
  }
  
  .Input-text::placeholder {
    color: #B0BEC5;
  }
  
  .Input-text:focus {
    outline: none;
    box-shadow: 0.2rem 0.8rem 1.6rem #5e35b1;
  }
  
  .Input-label {
    position: absolute;
    color: #fff;
    font-family: "Yanone Kaffeesatz";
    font-size: 1.5em;
    margin-left: -8.5em ;
    margin-top: 1.5em;
    opacity: 0;
    transform-origin: 0 0;
    transition:
      opacity .3s cubic-bezier(0.645, 0.045, 0.355, 1),
      transform .3s cubic-bezier(0.645, 0.045, 0.355, .5),
      visibility 0ms .3s cubic-bezier(0.645, 0.045, 0.355, 1),
      z-index 0ms .3s cubic-bezier(0.645, 0.045, 0.355, 1);
  }
  
  
  .Input-text:placeholder-shown + .Input-label {
    visibility: hidden;
    z-index: -1;
  }
  
  .Input-text:not(:placeholder-shown) + .Input-label,
  .Input-text:focus:not(:placeholder-shown) + .Input-label {
    visibility: visible;
    z-index: 1;
    opacity: 1;
    transform:
      translate3d(0, calc(
        (50%) - 
        (.7em * .8) - 
        (1.7em * 1)
      ), 0)
      scale(.8);
    transition:
      transform .3s,
      visibility 0ms,
      z-index 0ms;
  }