
@{
    ViewBag.Title = "Fórum";
    Layout = "~/Views/Shared/_LayoutForum.cshtml";
    ViewBag.PalavraChave = Session["palavraChave"];
}
<link rel="stylesheet" type="text/css" href="~/Content/ForumIndex.css" />
<article id="corpo" class="container">
    <div class="row">
        <div class="col col-3" id="divUsuario">
            <div class="">
                @if (Session["emailUsuario"] != null)
                {
                    <img class="imgPerfil" src="@Session["imgPerfil"]" />
                    <h2 id="nomeUsuarioForum">@Session["nomeUsuario"]</h2>
                }
                else
                {
                    <img class="imgPerfil" src="~/img/anonimo.png">
                }
            </div>
            <button class="btn" id="criarPergunta">Perguntar</button>
        </div>
        <div class="col col-3" id="listaTemas">
                


        </div>
        <div class="col col-3" id="maisAcessados">
            <h2 class="titulo">Mais acessados</h2>
            <ul id="listaMaisAcessados">
                @for (int i = 0; i < ViewBag.ListaPerguntas.Count && i < 10; i++)
                {
                    <li>
                        <a href="ForumDiscussex/Respostas/@ViewBag.ListaPerguntas[i].Id">@ViewBag.ListaPerguntas[i].Titulo</a>
                    </li>
                }
            </ul>
        </div>
    </div>
</article>

<script>
    $(document).ready(() => {
        $("#criarPergunta").click(() => {
            window.location.href = "/ForumDiscussex/Perguntar";
        });
    });

</script>
