
@{
    ViewBag.Title = "Fórum";
    Layout = "~/Views/Shared/_LayoutForum.cshtml";
}
<link rel="stylesheet" type="text/css" href="~/Content/ForumIndex.css" />
<article id="corpo" class="container">
    <div class="row">

        <div class="col col-3" id="divUsuario">
            @if (Session["emailUsuario"] != null)
            {
                <img id="imagemUsuario" src="@Session["imgPerfil"]"/>
                <h2>@Session["nomeUsuario"]</h2>
            }
            else
            {
                <img id="imagemAnonimo" src="~/img/anonimo.png">
            }
            <button class="btn" id="criarPergunta">Perguntar</button>
        </div>
        <div class="col col-3" id="listaTemas">
            <form action="Forum/BuscarTemas">
                <div class="campoTexto">
                    <select name="busca">
                        @*@foreach()
                        {

                        }*@
                    </select>
                    <label for="input">Buscar temas</label>
                </div>
                <input type="submit" class="btn" value="Buscar">
            </form>
        </div>
        <div class="col col-3" id="maisAcessados">
            <h2>Mais acessados</h2>
        </div>
    </div>
</article>

<script>
    $(document).ready(() => {
        $("#criarPergunta").click(() => {
            window.location.href = "/ForumDiscussex/Perguntar";
        });
    });
</script>
