
@{
    ViewBag.Title = "Perguntar";
    Layout = "~/Views/Shared/_LayoutForum.cshtml";
}


<article id="corpo" class="container">
    <div class="row">
           <div class="col col-2">
               <img id="imgPerguntar" src="~/img/perguntar.png"/> @* img faça uma pergunta*@
           </div>
        <div class="col col-2">
            <form action="/ForumDiscussex/FazerPergunta" method="post">
                <div class="campoTexto">
                    <input type="text" name="p.Titulo" id="txtTitulo" class="Input-text" placeholder="Titulo">
                    <label for="input" class="Input-label">Título</label>
                </div>
                <div class="campoTexto">
                    <input type="text" name="p.PalavraChave" id="palavraChave" class="Input-text" placeholder="Palavra Chave">
                    <label for="input" class="Input-label">Palavra chave</label>
                </div>
                <div class="campoTexto">
                    <textarea cols="60" rows="10" name="p.Descricao" id="txtPergunta" class="Input-text" placeholder="Pergunta"></textarea>
                    <label for="input" class="Input-label">Pergunta</label>
                </div>
                <div class="isAnonimo">
                    @Html.CheckBox("anonimo")
                    @*<input class="btn" type="checkbox" value="Anonimo" name="anonimo">*@
                    <label for="input" class="check"> Anônimo </label>
                </div>
                <input type="submit" class="btn" value="Perguntar">
            </form>
        </div>
    </div>
</article>

<script>
    $(document).ready(() => {
        $("textarea").autoResize();
    });
</script>