
@{
    ViewBag.Title = "Responder";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<link type="text/css" rel="stylesheet" href="~/Content/responderPergunta.css">
<article id="corpo" class="container">
    <div class="row">
        <div class="col col-2">
            <img id="imgResponder" src="~/img/responder.png"/> 
        </div>
        <div class="col col-2">
            <form action="/ForumDiscussex/AdicionarResposta/@ViewBag.Pergunta.Id" method="post">
                <div class="col col-2">
                    <h1 class="titulo">@ViewBag.Pergunta.Titulo</h1>
                </div>
                <div class="campoTexto" id="areaTexto">
                    <textarea cols="60" rows="10" name="resp" id="txtPergunta" class="Input-text" placeholder="Resposta" required></textarea>
                    <label for="input" class="Input-label" id="lbPergunta">Resposta</label>
                </div>
                <input type="submit" class="btn" value="Responder">
            </form>
        </div>
    </div>
</article>
