
@{
    ViewBag.Title = "Responder";
    ViewBag.EstaLogado = true;
    Layout = "~/Views/Shared/_LayoutForum.cshtml";
}

<link type="text/css" rel="stylesheet" href="~/Content/ForumResponder.css"/>
<article id="corpo" class="container">
    <div class="row a" id="pergunta">
        <div class="col col-2">
            <img class="imagemUsuario" src="~/img/UsuarioPadrao.png" />
            <h1>nome da pessoa</h1>
        </div>
        <div class="col col-2">
            <h1>Pergunta aquiiii</h1>
            <h3>Lorem</h3>
        </div>
    </div>
    <div class="row a resposta">
        <div class="col col-2">
            <img class="imagemUsuario" src="~/img/UsuarioPadrao.png" />
            <h1>nome da pessoa</h1>
        </div>
        <div class="col col-2">
            <p>
                jfjisajfklsdajfkdafjk rewil rneioruewik rnuewivrueiln ru nuroeiniwe unriown uriw nuriow ruwio r3oi nor w riw irnw irnu
                fsji i uewi tuewrn etwio uneri tuwnituiowun tiwu tnti wqiot uwq uwiot nu ioqw nuioqwu ni
            </p>
        </div>
    </div>
    <div class="row b resposta">
        <div class="col col-2">
            <img class="imagemUsuario" src="~/img/UsuarioPadrao.png" />
            <h1>nome da pessoa</h1>
        </div>
        <div class="col col-2">
            <p>
                jfjisajfklsdajfkdafjk rewil rneioruewik rnuewivrueiln ru nuroeiniwe unriown uriw nuriow ruwio r3oi nor w riw irnw irnu
                fsji i uewi tuewrn etwio uneri tuwnituiowun tiwu tnti wqiot uwq uwiot nu ioqw nuioqwu ni
            </p>
        </div>
    </div>
    <div class="row c resposta">
        <div class="col col-2">
            <img class="imagemUsuario" src="~/img/UsuarioPadrao.png" />
            <h1>nome da pessoa</h1>
        </div>
        <div class="col col-2">
            <p>
                jfjisajfklsdajfkdafjk rewil rneioruewik rnuewivrueiln ru nuroeiniwe unriown uriw nuriow ruwio r3oi nor w riw irnw irnu
                fsji i uewi tuewrn etwio uneri tuwnituiowun tiwu tnti wqiot uwq uwiot nu ioqw nuioqwu ni
            </p>
        </div>
    </div>
    <div class="row a resposta">
        <div class="col col-2">
            <img class="imagemUsuario" src="~/img/UsuarioPadrao.png" />
            <h1>nome da pessoa</h1>
        </div>
        <div class="col col-2">
            <p>
                jfjisajfklsdajfkdafjk rewil rneioruewik rnuewivrueiln ru nuroeiniwe unriown uriw nuriow ruwio r3oi nor w riw irnw irnu
                fsji i uewi tuewrn etwio uneri tuwnituiowun tiwu tnti wqiot uwq uwiot nu ioqw nuioqwu ni
            </p>
        </div>
    </div>
    <div class="row" id="botoesPaginas">
        <div class="col">
                <div>
                    <button class="btn"><i class="fa fa-arrow-alt-circle-left"></i></button>
                    <button class="btn"><i class="fa fa-arrow-alt-circle-right"></i></button>
                </div>
        </div>
    </div>


</article>
